.coverage
.venv
.stestr/
subunit.log
.tox
*,cover
cover
*.pyc
.idea
*.sw?
*~
build
dist
AUTHORS
ChangeLog
novaclient/versioninfo
*.egg
*egg-info
.eggs

# Files created by documentation build
/doc/build/
/doc/source/reference/api/

# Files created by releasenotes build
/releasenotes/build
